/*CSS NORMALIZATION*/
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main {
    display: block;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
code {
    font-family: monospace, monospace;
    font-size: 1em;
}
/*CSS NORMALIZATION*/

body {
    background-color: #131313;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    transition: 1s;
    color: #E2FF32;
}

.main-wrapper {
    border-bottom: 1px solid #FFFFFF;
}

.wrapper-circle {
    position: absolute;
    top: 5%;
    left: 70%;
    width: 322px;
    height: 322px;
}

.decorated-circle {
    width: 322px;
    height: 322px;
    background: #4C32FF;
    filter: blur(200px);
}


.wrapper-information {
    font-family: 'Poppins', sans-serif;
    margin: 52px 10px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-info {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.link-info {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #E2FF32;
    margin-right: 52px;
}

.wrapper-position {
    display: flex;
}

.position-name, .position-part{
    font-family: 'Poppins', sans-serif;
    margin: 14px 0 10px 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
    line-height: 165px;
}

.position-name {
    color: #E2FF32;
}

.position-part {
    color: #FFFFFF;
}

.wrapper-task {
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    margin-top: 0.5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 22px;
}

.task-info {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    min-width: 215px;
    margin-right: 15px;
}

.task-desc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 70px;
}

.code-space {
    width: 95%;
    margin-left: 40px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px;
}

.wrap-proj {
    margin: 35px 60px;
    display: flex;
    align-items: center;
}

.other-project {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E2FF32;
    margin-right: 10px;
}

.proj-arrow {
    width: 78px;
    height: 40px;
    background: url('./assets/arrow-right.svg') no-repeat center;
}

pre {
    color: black;
    font-size: 16px;
    background: white;
    margin: 30px;
    max-height: 500px;
    overflow: scroll;
    border-radius: 30px;
    line-height: 15px;
}



